/*font-family: 'Stint Ultra Expanded', cursive;
font-family: 'Mukta Vaani', sans-serif;*/
body{
    background-color: #e5e6e8;
}
.jumbotron {
    background: url('stargirl_squad.png')no-repeat center center;
    margin-bottom: 0px;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
}
#name{
    color: white;
    opacity: 100%;
}
#name > h1{
/*    text-shadow: 2px 2px 5px #9da0a5;*/
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 4.8em;
}

.showContent {
    line-height: 1em;
    height: auto;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}
.nav a:hover{
    background-color:white;
}
