
body{
    background-color: black;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #4D5457;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
/* Change the link color on hover */
li a:hover {
    background-color: #DAE1E3;
    color: white;
}
